.top-left {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: fit-content;
}

.top-right {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: fit-content;
}

.top-right * {
    text-align: right;
}